
.scheduler {
    height: 90vh;
}

.scheduler .machineBox {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.topmostRefreshButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.topmostRefreshButton .glyphicon {
    font-size: x-large;
}

.machinePanel {
    min-width: 450px;
    width: 48%;
    display: inline-block;
    margin: 1%;
}

.machinePanel .headerGroup {
    width: 100%;
}

.machinePanel .headerLabel {
    font-size: small;
}

.machinePanel .headerLabel.notAlive a {
    color: #999999;
}

.machinePanel .headerLabel a {
    color: #333;
}

.machinePanel .headerCommand {
    text-align: right;
}

.machineJobGroup.container {
    width: 100%;
}

.machineJobGroup.container .endItem {
    text-align: right;
    font-size: smaller;
}

.machineJobGroup.container div[class*='col-md'] {
    padding-left: 0px;
    padding-right: 0px;
}


.machineJobGroup.container .progressBar {
    margin-bottom: 0;
}

.propPanel.container {
    width: 100%;
}

.propPanel.container .key{
    font-weight: bold;
}

.propPanel.container .value{
}

.myPopover.popover {
    width: 400px;
    max-width:400px;
}

.createJobForm.container {
    width: 100%;
}

.invisibleLink {
    color: transparent;
}

.invisibleLink:hover {
    color: inherit;
}

.machineActionIcon {
    margin-left: 2px;
    font-size: 17px;
}